.header__logo {
  padding-bottom: 42px;
  max-width: 142px;
  width: calc(104px + (100% - 320px)/38);
}
@media (max-width: 935px) {
  .header__logo {
    padding-bottom: 32px;
    padding-left: 27px;
  }
}
