.element__button-like-pic {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  transform: translate(10px, 1px) rotate(45deg);
}
.element__button-like-pic::before, .element__button-like-pic::after {
  content: "";
  box-sizing: border-box;
  border: 1px solid black;
  position: absolute;
}
.element__button-like-pic::before {
  width: 12px;
  height: 7px;
  border-radius: 6px 6px 0 0;
  border-bottom: none;
  top: -6px;
  left: 0px;
}
.element__button-like-pic::after {
  width: 7px;
  height: 12px;
  border-radius: 6px 0 0 6px;
  border-right: none;
  top: 0px;
  left: -6px;
}
